@use "sass:map"
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"

$breakpoints: (mobile: 768px,desktop: 1024px)

@mixin up($key)
  $size: map.get($breakpoints, $key)
  @media (min-width: $size)
    @content

@mixin down($key)
  $size: map.get($breakpoints, $key)
  @media (max-width: $size)
    @content
// Global
html, body, h1
  font-family: Montserrat, sans-serif
  color: #FF6060
  display: block
  margin: 0
  padding: 0
  width: auto
  height: auto


html
  padding-top: 45px
  @include down(mobile)
    padding-top: 20px

p, nav
  font-weight: 500

footer
  display: flex
  justify-content: center

.Footer__Img
  display: block
  @include down(desktop)
    display: none

.Footer__Mobile
  display: none
  @include down(mobile)
    display: block

//Header
.Header, .Header__Nav, .header__img-title, .About__Collapse
  display: flex
.Header__Logo
  width: 210px
  height: auto
  @include down(mobile)
    width: 145px
    height: 46px
  
.Header
  box-sizing: border-box
  @include up(desktop)
    justify-content: center
    height: 68px
    width: auto

  .Header__Nav
    justify-content: space-evenly
    align-items: center
    @include up(desktop)
      width: 309px
      height: auto
      padding-left: 60%
    @include down(mobile)
      width: 335px
      height: auto
      justify-content: center
      gap: 10%

.nav__link
  list-style: none
  color: black
  text-decoration: none
  @include up(desktop)
    &:hover
     text-decoration: underline
  @include down(mobile)
    text-decoration: none

.header__img-title
  justify-content: center
  align-items: center
  padding-top: 50px

%HeaderImg
  position: relative
  width: 1240px
  height: 223px
  object-fit: cover
  border-radius: 25px
  border: solid black 1px
  box-shadow: 0px 4px 4px 0px #00000040
  @include down(mobile)
    width: 335px
    height: 111px
    

.About__Header__img
  @extend %HeaderImg
  filter: brightness(0.7)

.Index__Header__img
  @extend %HeaderImg
  filter: brightness(0.4)

.header__h2
  color: white
  position: absolute
  width: 733px
  height: 68px
  font-weight: 700
  font-size: 48px
  text-shadow: 1px 1px 2px black
  @include down(mobile)
    width: 225px
    height: 48px
    font-size: 24px
    font-style: bold
    left: 36px

//Index
.Index__Main
  display: flex
  justify-content: center

.Body__Main
  display: flex
  width: 1240px
  height: auto
  border-radius: 25px
  background-color: #F6F6F6
  margin: 40px

.Body__Cards
  position: relative

.Cards__Grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  padding: 50px
  gap: 50px
  @include down(mobile)
    grid-template-columns: repeat(1, 1fr)

.Cards__Gradiant
  position: relative
  width: 340px
  height: 340px

  &::after
    content: ""
    position: absolute
    inset: 0
    border-radius: 10px
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(10,10,10,0) 42%,rgba(4,4,4,0.205) 99.99%,rgba(0,0,0,0.5) 100%)

.Cards__Img
  display: block
  width: 340px
  height: 340px
  border-radius: 10px
  object-fit: cover

.Cards__Title
  position: absolute
  top: 268px
  left: 20px
  color: white
  font-size: 18px
  font-style: bold

//About
.About__Main
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column


//Collapse


.Collapse__h3
  display: flex
  align-items: center
  width: 1023px
  height: 52px
  background-color: #FF6060
  color: white
  font-size: 24px
  border-radius: 5px
  padding: 10px 20px 10px 15px
  @include down(mobile)
    width: 335px
    height: 30px

  .fa-solid
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
    width: 32px
    height: 32px

.Collapse__section
  display: flex
  align-content: center
  align-items: center
  justify-items: start
  width: 1023px
  height: auto
  flex-direction: column
  justify-content: space-evenly
  margin: auto
  @include down(mobile)
    width: 335px
    height: auto

.Collapse__p
  width: 582px
  height: auto
  margin: 0
  padding: 0 0 0 20px 
  color: black

.collapse__Description__Equipements
  display: flex
  justify-items: start
  justify-content: space-around
  @include down(mobile)
    width: 335px
    height: auto
    flex-direction: column
    gap: 2%
    padding-left: 2%

  .Description
    position: absolute
    bottom: 50%

.Collapse__h3
  position: relative
  width: 582px
  height: auto
  border-radius: 10px
  @include down(mobile)
    width: 335px
    height: 30px

//Housing
.Housing__Name, .Housing__Location, .buttons
  position: absolute
  left: 7%

.Housing__Page, .Housing__Main
  display: block
  gap: 50px

.Housing__Main
  position: relative
  width: auto
  height: 1065px

.Housing__Name
  width: auto
  height: 650px

.buttons
  display: flex
  left: 7%
  bottom:50%
  gap: 5px

.Housing__button
  display: flex
  align-items: center
  justify-content: center
  height: 25px
  width: auto
  border-radius: 10px
  background-color: #FF6060
  color: white
  border: none
  font-size: 14px
  font-weight: 700
  @include down(mobile)
    width: auto
    height: 18px
    flex-wrap: nowrap
    border-radius: 5px


.Housing__Img__Slider
  display: flex
  justify-content: center
  align-items: center
  padding-top: 53px
  position: relative

.Host
  position: absolute
  right: 5%
  display: flex
  align-items: center
  @include down(mobile)
    position: absolute
    width: 135px
    height: 33px

.Host__Name
  display: flex
  width: 70px
  height: 52px
  justify-content: flex-end
  align-items: center



.Host__img
  background-color: #c4c4c4
  width: 64px
  height: 64px
  border-radius: 50%

.Housing__Img
  border-radius: 25px
  width: 1240px
  height: 415px
  object-fit: cover

.Arrow
  display: flex
  background: none
  border: none
  align-items: center
  color: white
  position: absolute
  top: 50%


.fa-angle-left, .fa-angle-right
  width: 46px
  height: 79px
  @include down(mobile)
    width: 12px
    height: 19px

.Slider__Previous
  left: 8%

.Slider__Next
  right: 8%

.Pictures__Counter
  position: absolute
  display: flex
  align-items: center
  font-size: 18px
  width: 24px
  height: 32px
  color: white
  padding-top: 357px

.Housing__Name
  font-size: 36px
  font-weight: 500
  @include down(mobile)
    font-size: 18px
    width: 335px
    height: auto

.Housing__Location
  bottom:50%
  color: black
  font-size: 18px
  width: auto
  height: 26px

.rating
  position: absolute
  right:5%
  @include down(mobile)
    width: 98px
    height: 18px



.Star__Full, .Star__Empty
  width: 36px
  height: 36px
  @include down(mobile)
    width: auto 
    height: 18px
    
.Star__Empty
  color: #E3E3E3
//Error404
.page__error
  display: flex
  flex-direction: column
  align-items: center

.title__error
  font-size: 18rem
  font-weight: 700
  width: 597px
  height: 263px
  margin-bottom: 139px

.p__error
  font-size: 36px
  width: 872px
  margin-bottom: 139px

.main__nav
  color: black
  font-size: 18px
  width: 284px
  height: 26px
  margin-bottom: 139px
