@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

//Global
html,
body,
h1,
footer
  font-family: Montserrat, sans-serif
  color: #FF6060
  display: block
  margin: 0
  padding: 0

//Header
.header__img-title
  display: flex
  justify-content: center

.header__img
  position: relative
  width: 1240px
  height: 223px
  object-fit: cover
  border-radius: 25px
  border: solid black 1px
  box-shadow: 0px 4px 4px 0px #00000040

.header__h2
    color: white
    position: absolute
    width: 733px
    height: 68px
    font-weight: 700
    font-size: 48px
    text-shadow: 1px 1px 2px black

p,nav
  font-weight: 500

footer
  display: flex
  justify-content: center

.footer__Mobile
  display: none

nav
  display: flex
  justify-content: space-evenly
  width: 309px
  height: auto

  //Index
.Index__Main
  display: flex
  justify-content: center

.Body__Main
  display: flex
  width: 1240px
  height: auto
  border-radius: 25px
  background-color: #F6F6F6
  margin: 40px

.Cards__Grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  margin: 40px
  
.Cards__Img
  width: 340px
  height: 340px
  border-radius: 10px
  object-fit: cover
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%,rgba(0, 0, 0, 0.5) 100%)
  
  //About
.bodyAbout__options, .fa-solid .fa-angle-down
  list-style: none
  background-color: #FF6060
  color: white
  font-size: 24px
  font-style: bold
  font-weight: 700



//Error404
.page__error
  display: flex
  flex-direction: column
  align-items: center



.title__error
  font-size: 18rem
  font-weight: 700
  width: 597px
  height: 263px
  margin-bottom: 139px

.p__error
  font-size: 36px
  width: 872px
  margin-bottom: 139px

  
.main__nav
  color: black
  font-size: 18px
  width: 284px
  height: 26px
  margin-bottom: 139px



.footer__Img
  width: 1440px
  height: 209px

.footer__Mobile
  display: none
