@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

//Global
html,
body,
h1,
footer
  font-family: Montserrat, sans-serif
  color: #FF6060
  display: block
  margin: 0
  padding: 0

html
  padding-top: 45px


//Header
.Header,.Header__Nav,.header__img-title,.About__Collapse
  display: flex

.Header
  justify-content: center
  box-sizing: border-box
  height: 68px
  
.Header__Nav
  justify-content: space-evenly
  align-items: center
  padding-left: 931px
  gap: 53px

.nav__link
  list-style: none

.header__img-title
  justify-content: center
  align-items: center
  padding-top: 50px

.About__Header__img
  position: relative
  width: 1240px
  height: 223px
  object-fit: cover
  border-radius: 25px
  border: solid black 1px
  box-shadow: 0px 4px 4px 0px #00000040
  filter: brightness(0.7)

.Index__Header__img
  position: relative
  width: 1240px
  height: 223px
  object-fit: cover
  border-radius: 25px
  border: solid black 1px
  box-shadow: 0px 4px 4px 0px #00000040
  filter: brightness(0.4)

.header__h2
    color: white
    position: absolute
    width: 733px
    height: 68px
    font-weight: 700
    font-size: 48px
    text-shadow: 1px 1px 2px black

p,nav
  font-weight: 500

footer
  display: flex
  justify-content: center

.footer__Mobile
  display: none

  //Index
.Index__Main
  display: flex
  justify-content: center

.Body__Main
  display: flex
  width: 1240px
  height: auto
  border-radius: 25px
  background-color: #F6F6F6
  margin: 40px

.Body__Cards
  position: relative

.Cards__Grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  padding: 50px 50px 50px 50px
  gap: 50px

.Cards__Gradiant
  position: relative
  width: 340px
  height: 340px
  
.Cards__Gradiant::after
  content: ""
  position: absolute
  inset: 0
  border-radius: 10px
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%,rgba(10, 10, 10, 0) 42%,rgba(4, 4, 4, 0.205) 99.99%,rgba(0, 0, 0, 0.5) 100%)
  
.Cards__Img
  display: block
  width: 340px
  height: 340px
  border-radius: 10px
  object-fit: cover

.Cards__Title
  position: absolute
  top: 268px
  left: 20px
  color: white
  font-size: 18px
  font-style: bold

//About
.About__Main
  display: flex
  gap: 30px
  justify-content: center
  align-items: center
  flex-direction: column


//Housing


.collapse__Description__Equipements
  display: flex
  justify-items: start
  justify-content: center
  gap: 76px

.collapse__Description__Equipements
  .Collapse__h3
    position: relative
    display: flex
    align-items: center
    width: 582px
    height: 52px
    border-radius: 10px
    background-color: #FF6060
    color: white
    font-size: 24px

.collapse__Description__Equipements
    .fa-solid
      position: absolute
      right: 10px
      top: 50%
      transform: translateY(-50%)
      width: 32px
      height: 32px
      color: red

.collapse__Description__Equipements
  .Collapse_p
    width: 582px
    height: auto

.Collapse__section
  display: flex
  align-content: center
  align-items: center
  justify-items: start
  width: 1023px
  height: auto
  flex-direction: column
  justify-content: space-evenly
  margin: auto
.Description
  display: flex

.Collapse__section
  .Collapse__h3
    position: relative
    display: flex
    align-items: center
    width: 1023px
    height: 52px
    border-radius: 5px
    background-color: #FF6060
    color: white
    font-size: 24px
    padding: 10px 20px 10px 15px

  .fa-solid
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
    width: 32px
    height: 32px
    color: white

.Collapse_p
  margin: 0 0 0 0
  padding: 0 0 0 0
  color: black

//Housing
.buttons
  display: flex
  margin: 10px 20px 10px 15px
.Housing__button
  display: flex
  align-items: center
  justify-content: center
  height: 25px
  width: auto
  border-radius: 10px
  background-color: #FF6060
  color: white
  border: none
  font-size: 14px
  font-weight: 700
.Housing__Img__Slider
  display: flex
  justify-content: center
  align-items: center
  padding-top: 53px


.Housing__Img
  position: relative
  border-radius: 25px
  width: 1240px
  height: 415px
  object-fit: cover
    
.Arrow
  display: flex
  width: 46px
  height: 79px
  background: none
  border: none
  align-items: center
  color: white
  position: absolute

.fa-angle-left, .fa-angle-right
  width: auto
  height: 79px

.fa-angle-right
  left: 20px

.fa-angle-left
  right: 20px

.Pictures__Counter
  position: absolute
  display: flex
  align-items: center
  font-size: 18px
  width: 24px
  height: 32px
  color: white
  padding-top: 357px


.Housing__Location
  color: black

//Error404
.page__error
  display: flex
  flex-direction: column
  align-items: center

.title__error
  font-size: 18rem
  font-weight: 700
  width: 597px
  height: 263px
  margin-bottom: 139px

.p__error
  font-size: 36px
  width: 872px
  margin-bottom: 139px
  
.main__nav
  color: black
  font-size: 18px
  width: 284px
  height: 26px
  margin-bottom: 139px

.footer__Img
  width: 1440px
  height: 209px

.footer__Mobile
  display: none
